// import variables from src file
@import '../../variables';

/* sets up look of header/navbar */
.viewWindow {
  height: 89vh;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $navBackground;
  border-bottom: solid 2px $navBorder;

  .navRight {
    float: right;
    padding-right: 2%;

    li {

      @media only screen and (max-width: 430px) {
        font-size: 0.5em;
      }
      @media only screen and (min-width: 431px) {
        font-size: 1em;
      }
      @media only screen and (min-width: 600px) {
        font-size: 1.5em;
      }
      @media only screen and (min-width: 701px) {
        font-size: 2em;
      }
    }
  }

  .navLeft {
    float: left;
    padding-left: 2%;

    li {
      @media only screen and (max-width: 430px) {
        font-size: 0.5em;
      }
      @media only screen and (min-width: 431px) {
        font-size: 1em;
      }
      @media only screen and (min-width: 600px) {
        font-size: 1.5em;
      }
      @media only screen and (min-width: 701px) {
        font-size: 2em;
      }
    }
  }
}

/* styles the buttons on the nav */
.navItem {
  float: right;
  display: inline-block;
  color: $navText;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: solid 4px $navBorder;
  border-right: solid 4px $navBorder;
  outline: none;
}

.navItem:hover {
  color: $navBackground;
  background-color: $navBackgroundHover;
}

/* styles the div that contains the zoom buttons and the border */
.zooms {
  margin: 40px;
  position: fixed;
  border: solid 2px $white;
  border-radius: 120px;
  @media only screen and (max-width: 750px) {
    transform: scale(.5);
    top: 50vh;
    right: 2vw;
  }
  @media only screen and (min-width: 751px) {
    top: 75vh;
    right: 2vw;
  }
}

/* styles the zoom in button (makes it a half circle) */
.zoomIn {
  background: $zoomInactiveTop;
  background: -webkit-linear-gradient($zoomInactiveTop, $zoomInactiveBottomActiveTop); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($zoomInactiveTop, $zoomInactiveBottomActiveTop); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($zoomInactiveTop, $zoomInactiveBottomActiveTop); /* For Firefox 3.6 to 15 */
  background: linear-gradient($zoomInactiveTop, $zoomInactiveBottomActiveTop); /* Standard syntax */
  display: inline-block;
  border-bottom-left-radius: 120px;
  border-top-left-radius: 120px;
  height: 120px;
  width: 60px;
  margin: 2px;
}

.zoomIn:active {
  background: -webkit-linear-gradient($zoomInactiveBottomActiveTop, $zoomActiveBottom); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($zoomInactiveBottomActiveTop, $zoomActiveBottom); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($zoomInactiveBottomActiveTop, $zoomActiveBottom); /* For Firefox 3.6 to 15 */
  background: linear-gradient($zoomInactiveBottomActiveTop, $zoomActiveBottom); /* Standard syntax */
  display: inline-block;
}

/* styles the zoom out button (make it a half circle) */
.zoomOut {
  background: $zoomInactiveTop;
  background: -webkit-linear-gradient($zoomInactiveTop, $zoomInactiveBottomActiveTop); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($zoomInactiveTop, $zoomInactiveBottomActiveTop); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($zoomInactiveTop, $zoomInactiveBottomActiveTop); /* For Firefox 3.6 to 15 */
  background: linear-gradient($zoomInactiveTop, $zoomInactiveBottomActiveTop); /* Standard syntax */
  display: inline-block;
  border-bottom-right-radius: 120px;
  border-top-right-radius: 120px;
  height: 120px;
  width: 60px;
  margin: 2px;
}

.zoomOut:active {
  background: -webkit-linear-gradient($zoomInactiveBottomActiveTop, $zoomActiveBottom); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($zoomInactiveBottomActiveTop, $zoomActiveBottom); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($zoomInactiveBottomActiveTop, $zoomActiveBottom); /* For Firefox 3.6 to 15 */
  background: linear-gradient($zoomInactiveBottomActiveTop, $zoomActiveBottom); /* Standard syntax */
  display: inline-block;
}

/* a class that controls the + and - text within the buttons
adds text stroke and cneters mostly*/
.zoom {
  text-align: center;
  font-size: 90px;
  color: $zoomText;
  -webkit-text-stroke-width: 4px;
  -moz-text-stroke-width: 4px;
  -webkit-text-stroke-color: $zoomTextStroke;
  -moz-text-stroke-color: $zoomTextStroke;
}

/* centers the plus sign
(this is a bad way to do it and was only for the mockup)
the probelm with this is that it will not display the
same for all browsers but vertical alignment is tough
no matter how you do it*/
.plus {
  position: relative;
  top: -8px;
  outline: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.plus:active {
  color: $zoomTextStroke;
}

/* centers the minus sign
(like above this is a bad way to do it and was only for the mockup)
the probelm with this is that it will not display the
same for all browsers but vertical alignment is tough
no matter how you do it*/
.minus {
  position: relative;
  top: -16px;
  outline: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.minus:active {
  color: $zoomTextStroke;
}

.input {
  z-index: 99;
  position: fixed;
  margin: 0;
  border: 6px solid $navBorder;
  min-width: 300px;
  min-height: 100px;
  max-height: 125px;
  background-color: $navBackground;
  padding: 4px;
  text-align: center;

  @media only screen and (max-width: 600px) {
    max-width: 260px;
    font-size: 0.75em;
  }
  @media only screen and (min-width: 601px) {
    max-width: 350px;
    font-size: 0.9em;
  }
  @media only screen and (min-width: 751px) {
    max-width: 400px;
    font-size: 1em;
  }
}

.gridDisplay {
  display: grid;
  font-size: 15px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.container {
  margin: 0;
  padding: 225px 300px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.container:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.lineGrid {
  display: grid;
  grid-template-rows: 37px 37px;
  grid-template-columns: 150px 150px;
  margin: 0;
}

.out1 {
  -webkit-transform: scale(.12);
  transform: scale(.12);
  -webkit-transform-origin-x: 0;
  transform-origin-x: 0;
  -webkit-transform-origin-y: 0;
  transform-origin-y: 0;
}

.out2 {
  -webkit-transform: scale(.25);
  transform: scale(.25);
  -webkit-transform-origin-x: 0;
  transform-origin-x: 0;
  -webkit-transform-origin-y: 0;
  transform-origin-y: 0;
}

.out3 {
  -webkit-transform: scale(.5);
  transform: scale(.5);
  -webkit-transform-origin-x: 0;
  transform-origin-x: 0;
  -webkit-transform-origin-y: 0;
  transform-origin-y: 0;

}

.noZoom {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin-x: 0;
  transform-origin-x: 0;
  -webkit-transform-origin-y: 0;
  transform-origin-y: 0;
}

.in1 {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transform-origin-x: 0;
  transform-origin-x: 0;
  -webkit-transform-origin-y: 0;
  transform-origin-y: 0;
}

.in2 {
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transform-origin-x: 0;
  transform-origin-x: 0;
  -webkit-transform-origin-y: 0;
  transform-origin-y: 0;
}

.inNode1 {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.inNode2 {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.inNode3 {
  -webkit-transform: scale(3);
  transform: scale(3);
}

.inNode4 {
  -webkit-transform: scale(4);
  transform: scale(4);
}

.topZ {
  z-index: 99;

}

.gridNode {
  word-wrap: break-word;
  border-radius: 10px;
  margin: 0 2px;
  -moz-text-fill-color: $gridText;
  -webkit-text-fill-color: $gridText;
  -moz-text-stroke-color: $gridTextStroke;
  -webkit-text-stroke-color: $gridTextStroke;
  -moz-text-stroke-width: .5px;
  -webkit-text-stroke-width: .5px;
}

.lineGridNodes {
  overflow: hidden;
  margin: 0;
}

.normalNode {
  background-color: $normalNodeBackground;
  border: 6px solid $normalNodeBorder;
  border-radius: 10px;
}

.linkNode {
  color: $white;
  text-decoration: none;
  -moz-text-fill-color: $gridText;
  -webkit-text-fill-color: $gridText;
  -moz-text-stroke-color: $gridTextStroke;
  -webkit-text-stroke-color: $gridTextStroke;
  -moz-text-stroke-width: .5px;
  -webkit-text-stroke-width: .5px;
}

.normalNode .linkNode:hover, .topNode .linkNode:hover {
  color: $normalTextHover;
  text-decoration: none;
  -moz-text-fill-color: $normalTextHover;
  -webkit-text-fill-color: $normalTextHover;
  -moz-text-stroke-color: $gridTextStroke;
  -webkit-text-stroke-color: $gridTextStroke;
  -moz-text-stroke-width: .5px;
  -webkit-text-stroke-width: .5px;
}

.foundNode .linkNode:hover, .topFound .linkNode:hover {
  color: $foundTextHover;
  text-decoration: none;
  -moz-text-fill-color: $foundTextHover;
  -webkit-text-fill-color: $foundTextHover;
  -moz-text-stroke-color: $gridTextStroke;
  -webkit-text-stroke-color: $gridTextStroke;
  -moz-text-stroke-width: .5px;
  -webkit-text-stroke-width: .5px;
}

.topDead .linkNode:hover {
  color: $gridText;
  text-decoration: none;
}

.static:hover {
  color: $gridText;
  text-decoration: none;
}

.topNode {
  background-color: $normalNodeBackground;
  border: 6px solid $normalNodeBorder;
}

.topFound {
  background-color: $foundNodeBackground;
  border: 6px solid $foundNodeBorder;
}

.topDead {
  background-color: $deadNodeBackground;
  border: 6px solid $deadNodeBorder;
}

.topNode, .topFound, .topDead {
  border-radius: 10px;
  transform: scale(1.25);
}

.deadNode {
  background-color: $deadNodeBackground;
  border: 6px solid $deadNodeBorder;
  border-radius: 10px;
}

.foundNode {
  background-color: $foundNodeBackground;
  border: 6px solid $foundNodeBorder;
  border-radius: 10px;
}

.borderRight {
  border-right: 2px solid $white;
}

.borderLeft {
  border-left: 2px solid $white;
}

.borderTop {
  border-top: 2px solid $white;
}

.borderBottom {
  border-bottom: 2px solid $white;
}
