/* clears any automatic margins and padding
that affect the entire document */
* {
  padding: 0;
  margin: 0;
}

/* this makes the view the exact
size of the browser and disallows scrolling
(this is fine for the mockup but there are 
better ways to do this using @media queries
that will insure that even tiny screens display
the page in a readable way)*/
html, body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/* set defalt text */
body {
  font-family: "Arial Black";
  color: black;
  background: #3F3F3F;
}

/* sets up look of header/navbar */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-bottom: solid 2px #222;
  padding-right: 20vh;
}

/* makes new search go to the right */
.navRight {
  float: right;
}

/* makes  min max go to the left */
.navLeft {
  float: left;
}

/* styles the buttons on the nav */
.navItem {
  font-size: 35px;
  float: right;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: solid 4px #222;
  border-right: solid 4px #222;
}

/* sets the look of the view window
(this will be where Angular works its magic) */
.viewWindow {
  float: center;
  min-height: 1px;
  height: 86vh;
  min-width: 1px;
  width: 96%;
  background: -webkit-linear-gradient(#111, #3F3F3F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#111, #3F3F3F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#111, #3F3F3F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#111, #3F3F3F); /* Standard syntax */
  margin: 2%;
}

/* set the size of the fake graph that will be done with angular */
img {
  width: 68%;
}

/* note how badly these classes/selectors are named :) */

/* styles the div that contains the zoom buttons and the border */
.zooms {
  margin: 40px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  border: solid 2px white;
  border-radius: 120px;
}

/* styles the zoom in button (makes it a half circle) */
.zoomIn {
  background: #111;
  background: -webkit-linear-gradient(#111, #3F3F3F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#111, #3F3F3F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#111, #3F3F3F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#111, #3F3F3F); /* Standard syntax */
  display: inline-block;
  border-bottom-left-radius: 120px;
  border-top-left-radius: 120px;
  height: 120px;
  width: 60px;
  margin: 2px;
}

/* styles the zoom out button (make it a half circle) */
.zoomOut {
  background: #111;
  background: -webkit-linear-gradient(#111, #3F3F3F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#111, #3F3F3F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#111, #3F3F3F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#111, #3F3F3F); /* Standard syntax */
  display: inline-block;
  border-bottom-right-radius: 120px;
  border-top-right-radius: 120px;
  height: 120px;
  width: 60px;
  margin: 2px;
}

/* a class that controls the + and - text within the buttons
adds text stroke and cneters mostly*/
.zoom {
  text-align: center;
  font-size: 90px;
  color: white;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #0C212A;
}

/* centers the plus sign
(this is a bad way to do it and was only for the mockup)
the probelm with this is that it will not display the
same for all browsers but vertical alignment is tough
no matter how you do it*/
.plus {
  position: relative;
  top: -8px;
}

/* centers the minus sign
(like above this is a bad way to do it and was only for the mockup)
the probelm with this is that it will not display the
same for all browsers but vertical alignment is tough
no matter how you do it*/
.minus {
  position: relative;
  top: -16px;
}
