/* sets up look of header/navbar */
nav {
  padding: 0;
}

p {
  padding: 1% 5%;
  font-size: 1.6em;
}

.viewWindow {
  text-align: justify;
}

.welcome {
  background: linear-gradient(to right bottom, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8em;
  color: white;
  text-align: center;
  line-height: 1em;
}

.btn {
  font-size: 4em;
}
