// import variables from src file
@import '../../variables';

/* sets up look of header/navbar */
nav {
  padding: 0;
}

p {
  padding: 1% 5%;
  @media only screen and (max-width: 750px) {
    font-size: 0.8em;
  }
  @media only screen and (min-width: 751px) {
    font-size: 1em;
  }
  @media only screen and (min-width: 1000px) {
    font-size: 1.2em;
  }
}

.github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 99;
  @media only screen and (max-width: 490px) {
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  @media only screen and (min-width: 491px) {
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }
  @media only screen and (min-width: 1160px) {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
  -webkit-transform-origin-y: 0;
  transform-origin-y: 0;
}

.viewWindow {
  text-align: justify;
  height: 86vh;
}

.welcome {
  background: linear-gradient(to right bottom, $rainbowText);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media only screen and (max-width: 750px) {
    font-size: 3em;
  }
  @media only screen and (min-width: 751px) {
    font-size: 5em;
  }
  @media only screen and (min-width: 1035px) {
    font-size: 7em;
  }
  color: $welcomeText;
  text-align: center;
  line-height: 1em;
}

.reactive-hidden {
  @media only screen and (max-width: 450px) {
    display: none;
  }
  @media only screen and (min-width: 451px) {
    height: 1em;
  }
}

.btn {
  @media only screen and (max-width: 750px) {
    font-size: 2em;
  }
  @media only screen and (min-width: 751px) {
    font-size: 4em;
  }
  margin-bottom: 2vh;
}

.spacer {
  height: 20vh;
}

.redText {
  color: $deadNodeBackground;
}


.greenText {
  color: $foundNodeBackground;
}
