/* sets up look of header/navbar */
.viewWindow {
  height: 89vh;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-bottom: solid 2px #222;
  padding-right: 20vh;

  .navRight {
    float: right;
  }

  .navLeft {
    float: left;
  }
}

/* styles the buttons on the nav */
.navItem {
  font-size: 35px;
  float: right;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: solid 4px #222;
  border-right: solid 4px #222;
  outline: none;
}

.navItem:hover {
  color: #333;
  background-color: #AAA;
}

/* note how badly these classes/selectors are named :) */

/* styles the div that contains the zoom buttons and the border */
.zooms {
  margin: 40px;
  position: fixed;
  top: 75vh;
  right: 2vw;
  border: solid 2px white;
  border-radius: 120px;
}

/* styles the zoom in button (makes it a half circle) */
.zoomIn {
  background: #111;
  background: -webkit-linear-gradient(#111, #3F3F3F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#111, #3F3F3F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#111, #3F3F3F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#111, #3F3F3F); /* Standard syntax */
  display: inline-block;
  border-bottom-left-radius: 120px;
  border-top-left-radius: 120px;
  height: 120px;
  width: 60px;
  margin: 2px;
}

.zoomIn:active {
  background: -webkit-linear-gradient(#3F3F3F, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3F3F3F, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3F3F3F, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3F3F3F, white); /* Standard syntax */
  display: inline-block;
}

/* styles the zoom out button (make it a half circle) */
.zoomOut {
  background: #111;
  background: -webkit-linear-gradient(#111, #3F3F3F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#111, #3F3F3F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#111, #3F3F3F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#111, #3F3F3F); /* Standard syntax */
  display: inline-block;
  border-bottom-right-radius: 120px;
  border-top-right-radius: 120px;
  height: 120px;
  width: 60px;
  margin: 2px;
}

.zoomOut:active {
  background: -webkit-linear-gradient(#3F3F3F, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3F3F3F, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3F3F3F, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3F3F3F, white); /* Standard syntax */
  display: inline-block;
}

/* a class that controls the + and - text within the buttons
adds text stroke and cneters mostly*/
.zoom {
  text-align: center;
  font-size: 90px;
  color: white;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #121212;
}

/* centers the plus sign
(this is a bad way to do it and was only for the mockup)
the probelm with this is that it will not display the
same for all browsers but vertical alignment is tough
no matter how you do it*/
.plus {
  position: relative;
  top: -8px;
  outline: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.plus:active {
  color: #121212;
}

/* centers the minus sign
(like above this is a bad way to do it and was only for the mockup)
the probelm with this is that it will not display the
same for all browsers but vertical alignment is tough
no matter how you do it*/
.minus {
  position: relative;
  top: -16px;
  outline: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.minus:active {
  color: #121212;
}

.input {
  z-index: 99;
  position: fixed;
  margin: 0;
  border: 6px solid #222;
  min-width: 20%;
  max-width: 20%;
  min-height: 10%;
  background-color: #333;
  padding: 4px;
  text-align: center;
  // overflow: hidden;
}

.gridDisplay {
  display: grid;
  font-size: 15px;
  height: 100%;
  width: 100%;
  text-align: center;
  // cursor: move;
  // cursor: grab;
  // cursor: -moz-grab;
  // cursor: -webkit-grab;
}

// .girDisplay:active {
//   cursor: grabbing;
//   cursor: -moz-grabbing;
//   cursor: -webkit-grabbing;
// }

.lineGrid {
  display: grid;
  grid-template-rows: 37px 37px;
  grid-template-columns: 150px 150px;
  margin: 0;
}

.out1 {
  -webkit-transform: scale(.12);
  transform: scale(.12);
  margin-top: -100px;
  margin-left: 0;
}

.out2 {
  -webkit-transform: scale(.25);
  transform: scale(.25);
  margin-top: -50px;
  margin-left: 0;
}

.out3 {
  -webkit-transform: scale(.5);
  transform: scale(.5);
  margin-top: 0px;
  margin-left: 0;
}

.noZoom {
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-top: 50px;
  margin-left: 0;
}

.in1 {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  margin-top: 200px;
  margin-left: 0;
}

.in2 {
  -webkit-transform: scale(2);
  transform: scale(2);
  margin-top: 400px;
  margin-left: 0;
}

.in3 {
  -webkit-transform: scale(3);
  transform: scale(3);
  margin-top: 400px;
  margin-left: 0;
}

.in4 {
  -webkit-transform: scale(4);
  transform: scale(4);
  margin-top: 400px;
  margin-left: 0;
}

.topZ {
  z-index: 99;

}

.gridNode {
  overflow: hidden;
  border-radius: 10px;
  margin: 0 2px;
  -moz-text-fill-color: white;
  -webkit-text-fill-color: white;
  -moz-text-stroke-color: #111;
  -webkit-text-stroke-color: #111;
  -moz-text-stroke-width: .5px;
  -webkit-text-stroke-width: .5px;
}

.lineGridNodes {
  overflow: hidden;
  margin: 0;
}

.normalNode {
  background-color: #7faef9;
  border: 6px solid #3c6bb7;
  border-radius: 10px;
}

.linkNode {
  color: white;
  text-decoration: none;
  -moz-text-fill-color: white;
  -webkit-text-fill-color: white;
  -moz-text-stroke-color: #111;
  -webkit-text-stroke-color: #111;
  -moz-text-stroke-width: .5px;
  -webkit-text-stroke-width: .5px;
}

.normalNode .linkNode:hover, .topNode .linkNode:hover {
  color: #3c6bb7;
  text-decoration: none;
  -moz-text-fill-color: #3c6bb7;
  -webkit-text-fill-color: #3c6bb7;
  -moz-text-stroke-color: #111;
  -webkit-text-stroke-color: #111;
  -moz-text-stroke-width: .5px;
  -webkit-text-stroke-width: .5px;
}

.foundNode .linkNode:hover, .topFound .linkNode:hover {
  color: #199e1d;
  text-decoration: none;
  -moz-text-fill-color: #199e1d;
  -webkit-text-fill-color: #199e1d;
  -moz-text-stroke-color: #111;
  -webkit-text-stroke-color: #111;
  -moz-text-stroke-width: .5px;
  -webkit-text-stroke-width: .5px;
}

.static:hover {
  color: white;
  text-decoration: none;
}

.topNode {
  background-color: #7faef9;
  border: 6px solid #3c6bb7;
  border-radius: 10px;
  transform: scale(1.25);
}

.topFound {
  background-color: #73e280;
  border: 6px solid #199e1d;
}

.deadNode {
  background-color: #ff6851;
  border: 6px solid #bf202d;
  border-radius: 10px;
}

.foundNode {
  background-color: #73e280;
  border: 6px solid #199e1d;
  border-radius: 10px;
}

.borderRight {
  border-right: 2px solid white;
}

.borderLeft {
  border-left: 2px solid white;
}

.borderTop {
  border-top: 2px solid white;
}

.borderBottom {
  border-bottom: 2px solid white;
}
