/* You can add global styles to this file, and also import other style files */
@import './variables';

/* clears any automatic margins and padding
that affect the entire document */
* {
  padding: 0;
  margin: 0;
}

/* this makes the view the exact
size of the browser and disallows scrolling
(this is fine for the mockup but there are
better ways to do this using @media queries
that will insure that even tiny screens display
the page in a readable way)*/
html, body {
  @media only screen and (min-width: 750px) {
    position:fixed;
  }
  top:0;
  bottom:0;
  left:0;
  right:0;
  -ms-overflow-style: none;
}



/* set defalt text */
body {
  font-family: "Arial Black";
  color: $white;
  background: $background;
}

::-webkit-scrollbar {
    display: none;
}

/* sets the look of the view window
(this will be where Angular works its magic) */
.viewWindow {
  position: relative;
  min-height: 1px;
  height: 90vh;
  min-width: 1px;
  width: 96%;
  background: -webkit-linear-gradient($viewWindow, $background); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($viewWindow, $background); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($viewWindow, $background); /* For Firefox 3.6 to 15 */
  background: linear-gradient($viewWindow, $background); /* Standard syntax */
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 0;
  overflow: scroll;
}

.centered {
  text-align: center;
}

.btnDiv {
  width: 100%;
  text-align: center;
  margin-top: 1%;

  .btn {
    background-color: $buttonBackgroundOrTextHover;
    border: solid 2px $black;
    color: $buttonText;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
  }

  .btn:hover {
    background-color: $buttonBackgroundHover;
    color: $buttonBackgroundOrTextHover;
  }
}

.hidden {
  display: none;
}
