// import variables from src file
@import '../../variables';

form {
  display: inline-block;
  width:90%;
  margin: 2% 5%;
  @media only screen and (max-width: 750px) {
    font-size: .75em;
  }
  @media only screen and (min-width: 751px) {
    font-size: 1em;
  }
  @media only screen and (min-width: 1120px) {
    font-size: 2em;
  }

  .legend {
    @media only screen and (max-width: 600px) {
      font-size: 1.5em;
    }
    @media only screen and (min-width: 601px) {
      font-size: 2em;
    }
  }

  legend, label, .searchLabel {
    padding: 0 1%;
  }

  input[type="text"] {
    width: 98%;
    margin: 1%;
    margin-top: 0;
  }

  input[type="number"] {
    padding: 0;
    padding-left: 4px;
    width: 60px;
    margin: 1%;
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
     transform: scale(1.5);
     opacity: 1;
  }

  input[type="text"], input[type="number"] {
    font-size: 1em;
    border: 1px solid $inputField;
    background-color: $inputField;
    outline: none;
  }

  input[type="radio"] {
    -webkit-appearance:button;
    -moz-appearance:button;
    appearance:button;
    background:$inputField;
    border-radius:50%;
    outline: none;
    margin-right: 1%;

    @media only screen and (max-width: 750px) {
      width: 1.5em;
      height: 1.5em;
    }
    @media only screen and (min-width: 751px) {
      width: 2em;
      height: 2em;
    }
    @media only screen and (min-width: 1120px) {
      width: 3em;
      height: 3em;
    }
  }

  input[type="radio"]:checked{
    border: 1em solid $black;
  }

  .pastSearches {
    background-color: $inputField;
    font-size: 1em;
    overflow: hidden;
    width: 50%;
  }
}

fieldset {
  border: 4px solid $white;
}

.viewWindow {
  height: 92vh;
}

.fade {
  border: 4px solid;
  border-bottom: none;
  border-image: linear-gradient($white, transparent) 1;
}

.btn {
  margin: 1%;
  font-size: 1.5em;
}

.btn[disabled] {
  background-color: $disabled;
  border: solid 2px $black;
  color: $inputField;
}

.btn[disabled]:hover {
  background-color: $disabled;
  border: solid 2px $black;
  color: $inputField;
}

.required {
  color: $required;
  padding: 0 2%;
}

.pastSearchDiv {
  margin: 0;
}
