<div class="viewWindow">
  <form [formGroup]="homeForm" (ngSubmit)="onSubmit()">
    <fieldset class="fade">
      <legend><span class="legend">Enter Web Crawler Criteria:</span></legend>
      <fieldset>
        <label>Starting URL :
          <input type="text" formControlName="url">
        </label>
        <div class="required" [hidden]="url.valid || url.untouched">
          A Valid URL is Required
        </div>
      </fieldset>
      <fieldset>
        <label>Value of <i>n</i> :
          <input type="number" min="1" max="4" step="1" formControlName="n">
        </label>
        <div class="required" [hidden]="n.valid || n.untouched">
          Must be a Number Between 1 and 4.
        </div>
      </fieldset>
      <fieldset>
        <label>Optional Search Phrase:
          <input type="text" formControlName="searchPhrase">
        </label>
      </fieldset>
      <fieldset class="fade">
        <p class="searchLabel">Select a Search Type:</p>
        <p>
          <label>
              <input type="radio" name="searchType" value="BFS" formControlName="searchType"/>Breadth First Search</label>
          <br/>
          <label>
              <input type="radio" name="searchType" value="RDFS" formControlName="searchType"/>Random Depth First Search</label>
          <br/>
          <label>
              <input type="radio" class="disable" name="searchType" value="TDFS" formControlName="searchType" [disabled]/>
		<span class="disable">True Depth First Search</span>
	  </label>
          <br/>
        </p>
        <div class="required" [hidden]="searchType.valid || searchType.untouched">
          A Search Type is Required
        </div>

        <br>
      <div class="pastSearchDiv hidden">
        <label>Previous Searches:
          <select class = "pastSearches" formControlName="prevSearchDrop" (ngModelChange)="onSelect($event)">
            <option [ngValue]="prevSearch" *ngFor="let prevSearch of prevSearches">
              {{ prevSearch.url }}
            </option>
          </select>
        </label>
      </div>

        <div class="btnDiv">
          <input  type="submit" class="btn" value="Start Crawling" [disabled]="homeForm.invalid"/>
        </div>
      </fieldset>
    </fieldset>
  </form>
</div>
